#container {
    display: flex;
    flex-direction: column; /* 改为垂直排列 */
    align-items: center; /* 让所有子项（h1 和 .blog-block）在水平方向上居中 */
}

.blog-block {
    margin-top: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #75d6ff;
    align-items: center;
    width: 500px;
}

.blog-title {
    font-size: 1.5em;
    color: #000000;
}

.blog-content {
    padding-top: 20px;
}

.blog-text {
    font-size: 1em;
    line-height: 1.6;
}

.blog-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
}

/* #blog-0::after {
    content: "hello!";
    font-size: x-small;
    color: #646464;
} */

.blog-block .timestamp {
    font-size: x-small;
    color: #646464;
}

